<!doctype html>
<html lang="en">

<head th:replace="/fragments/head"></head>

<body>

  <nav th:replace="/fragments/nav :: nav-admin"></nav>

  <!-- List all the articles in the current page -->
  <table>
    <tr>
      <th style="padding-left: 20px;">ID</th>
      <th style="padding-left: 20px;">Title</th>
      <th style="padding-left: 20px;">Author</th>
      <th style="padding-left: 20px;">Content</th>
      <th style="padding-left: 20px;">Publiched Date</th>
    </tr>
    <tr th:each="article1: ${articleList}">
      <td style="padding-left: 20px;" th:text="${article1.id}"></td>
      <td style="padding-left: 20px;" th:text="${article1.Title}"></td>
      <td style="padding-left: 20px;" th:text="${article1.Author}"></td>
      <td style="padding-left: 20px;" th:text="${article1.Content}"></td>
      <td style="padding-left: 20px;" th:text="${article1.publishedDate}"></td>
    </tr>
  </table>

  <!-- List all the pages and the current page -->
  <nav class="mt-3" th:if="${ count > perPage }">
    <ul class="pagination">
      <li class="page-item" th:if="${ page > 0 }">
        <a th:href="@{/admin/stat/view/} + '?page=__${page-1}__'" class="page-link">Prev</a>
      </li>
      <li class="page-item" th:each="number: ${ #numbers.sequence( 0 , pageCount ) }"
        th:classappend="${page == number} ? 'active' : ''">
        <a th:href="@{/admin/stat/view/} + '?page=__${number}__'" class="page-link" th:text="${number+1}"></a>
      </li>
      <li class="page-item" th:if="${ page < pageCount }">
        <a th:href="@{/admin/stat/view/} + '?page=__${page+1}__'" class="page-link">Next</a>
      </li>
    </ul>
  </nav>

  <!-- Notify if the article already exists -->
  <div style="color: red;" th:if="${AlreadyExists}">The Article Already Exists</div>

  <!-- Fill the Form to add an article to the database -->
  <form method="post" th:object="${article}" th:action="@{/admin/stat/add}">
    <div style="display: inline-block;">
      <label for="">Title</label>
      <div th:if="${titleWarning}" th:text="${titleWarning}" style="color: red;"></div>
      <input type="text" class="form-control" th:name="title" th:value="${title}" placeholder="Title">
    </div>
    <div style="display: inline-block;">
      <label for="">Author</label>
      <div th:if="${authorWarning}" th:text="${authorWarning}" style="color: red;"></div>
      <input type="text" class="form-control" th:name="author" th:value="${author}" placeholder="Author">
    </div>
    <div style="display: inline-block;">
      <label for="">Content</label>
      <div th:if="${contentWarning}" th:text="${contentWarning}" style="color: red;"></div>
      <textarea th:name="content" rows="5" class="form-control" th:text="${content}" placeholder="Content"></textarea>
    </div>
    <button class="btn btn-danger mb-5">Add</button>
  </form>

  <!-- Present he statistics for the past week -->
  <div th:if="${articleListBetweenTimes}" style="position: relative; top: 50px;" class="container">
    <h2>STATISTICS FOR THE PAST WEEK</h2>

    <table>
      <tr>
        <th style="padding-left: 20px;">Date</th>
        <th style="padding-left: 20px;">Count Stat</th>
        <th style="padding-left: 20px;">Count</th>
      </tr>
      <tr th:each="e : ${articleListBetweenTimes}">
        <td style="padding-left: 20px;" th:text="${e.key}"></td>
        <td style="padding-left: 20px;">
          <div th:style="'background-color:blue; height:20px; display: inline-block; width: '+${e.value}+'px;'"></div>
        </td>
        <td style="padding-left: 20px;" th:text="${e.value}"></td>
      </tr>
    </table>

    <div id="container" style="width: 550px; height: 400px; margin: 0 auto"></div>
  </div>
  <footer th:replace="/fragments/footer"></footer>

  <script>

    $("a.addToCart").click(function (e) {
      e.preventDefault();

      let $this = $(this);

      $this.next().removeClass("d-none");

      let id = $this.attr("data-id");
      let url = "/cart/add/" + id;

      $.get(url, {}, function (data) {
        $('div.cart').html(data);
      }).done(function () {
        $this.parent().parent().find('div.productAdded').fadeIn();
        $this.next().addClass('d-none');
        setTimeout(() => {
          $this.parent().parent().find('div.productAdded').fadeOut();
        }, 1000);
      });
    });


  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script th:inline="javascript">

  </script>

</body>

</html>